*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--radius-1: 5px;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	block-size: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
}

input,
select,
option {
	font: inherit;
}

select {
	transform-origin: bottom;
	border-radius: var(--radius-1);
	padding: 0.5em;
	inline-size: 300px;
}

input {
	all: unset;
	background-color: #0046a9;
	color: #fff;
	padding: 0.5em 1.5em;
	border-radius: var(--radius-1);
}

.container {
}
